.container-fluid{
    z-index: 2;
    font-family: Montserrat, sans-serif;
    margin-right: 600px;
    margin-left: 150px;
    margin-bottom: 150px;  
}

.titulo {
    text-align: center;
    font-weight: bold;
  
}

.label-input {
    font-weight: bold;
    color: #508cde;
}

h6 {
    text-align: left;
    font-weight: bold;
    margin-top: -10px;
    font-size: 20px;

}

.border-primary {
    border-color: #508cde !important;
}

.boton-lista {
    background-color: #508cde;
    color: #fff;
}

.boton-lista:hover {
    background-color: #5077b6;
}

.form-control {
    border-color: #508cde;
}

.form-control:focus {
    border-color: #5077b6;
}

.guia {
    text-align:right;
    font-weight: bold;
    margin-right: 100px;
    font-size: 30px;
  
}
.guardar{
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 719px) {
    .container-fluid {
      width: 100%;
      position: relative;
      top: -20px;
      left: -12%;
      right: auto;
      bottom: auto;
      border-radius: 0;
      box-shadow: none;
      width: 370px;
      font-size: 16px;
      padding: 8px;
    }
  }
