.container-fluid {
  background-color: white;
  border: 1px solid #508dce;
  padding: 10px;
  margin: 10px;
  margin-right: 100px;
  margin-left: 00px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100vh;

}
  .titulo {
    text-align: center;
    font-weight: bold;
  }
  
  .subtitulo {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .boton-lista, .boton-buscar, .boton-liquidar {
    margin-top: 10px;
    background-color: #508dce;
    color: white;
    border: 1px solid #508dce;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .azul {
    background-color: #508cde !important;
    color: white !important;
  }
  @media (max-width: 719px) {
    .container-fluid {
      width: 100%;
      position: relative;
      top: 20px;
      left: auto;
      right: auto;
      bottom: auto;
      border-radius: 0;
      box-shadow: none;
      width: 28%;
      font-size: 16px;
      padding: 8px;
    }
  }